:root {
  --primary-rgb: 22, 22, 22;
  --primary: #161616;
  --primary-high: #2e2e2e;
  --primary-midium: #5c5c5c;
  --primary-low-mid: #8b8b8b;
  --primary-low: #d0d0d0;
  --primary-very-low: #f3f3f3;
  --primary-50: #f3f3f3;
  --primary-100: #e8e8e8;
  --primary-150: #dcdcdc;
  --primary-200: #d0d0d0;
  --primary-250: #c5c5c5;
  --primary-300: #bababa;
  --primary-350: #aeaeae;
  --primary-400: #a2a2a2;
  --primary-450: #969696;
  --primary-500: #8b8b8b;
  --primary-550: #7f7f7f;
  --primary-600: #737373;
  --primary-650: #676767;
  --primary-700: #5c5c5c;
  --primary-750: #515151;
  --primary-800: #454545;
  --primary-850: #393939;
  --primary-900: #2e2e2e;
  --primary-950: #222;
  --primary-1000: #161616;
  --secondary-rgb: 255, 255, 255;
  --secondary: #fff;
  --secondary-high: #e8e8e8;
  --secondary-midium: #bababa;
  --secondary-low-mid: #8b8b8b;
  --secondary-low: #454545;
  --secondary-very-low: #222;
  --secondary-50: #222;
  --secondary-100: #2e2e2e;
  --secondary-150: #393939;
  --secondary-200: #454545;
  --secondary-250: #515151;
  --secondary-300: #5c5c5c;
  --secondary-350: #676767;
  --secondary-400: #737373;
  --secondary-450: #7f7f7f;
  --secondary-500: #8b8b8b;
  --secondary-550: #969696;
  --secondary-600: #a2a2a2;
  --secondary-650: #aeaeae;
  --secondary-700: #bababa;
  --secondary-750: #c5c5c5;
  --secondary-800: #d0d0d0;
  --secondary-850: #dcdcdc;
  --secondary-900: #e8e8e8;
  --secondary-950: #f3f3f3;
  --secondary-1000: #fff;
}
